/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.*.php
.env.*.local
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
.env.dusk.local
.phpunit.result.cache
*.log
storage/logs/
public/uploads/
.vscode/
*.swp
*.swo
*~
.project
.settings/
.buildpath